<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
	
	<head th:replace="fragments/template :: head"></head>
	
	<body class="hold-transition skin-blue sidebar-mini">
		<!-- <div class="wrapper">
			<div class="content-wrapper">
				<section class="content-header">
					<h1>Proveedores<small>Listado</small></h1>
			  		<ol class="breadcrumb">
						<li><a href="/index"><i class="fa fa-dashboard"></i> Inicio</a></li>
						<li><a href="/proveedores/create"><i class="fa fa-plus"></i> Nuevo Registro</a></li>
			  		</ol>
				</section>
				<section class="content">
					<div class="row">
					 	<div class="col-xs-12">
					 		<div class="box">
								<div class="box-header">
						  			<h3 class="box-title" th:text="${titulo}"></h3>
								</div>
								<div class="box-body">
						  			<table id="listProveedores" class="table table-bordered table-striped">
										<thead>
											<tr>
												<th>#Id</th>
												<th>Nombre</th>
												<th>Version</th>
												<th>Direccion</th>
												<th>Documento</th>
												<th>Telefono</th>
												<th>Operaciones</th>
											</tr>
										</thead>
										<tbody>
											<tr th:if="${proveedores.empty}">
									            <td colspan="2"> No existen Registros </td>
									        </tr>
											<tr th:each="proveedor: ${proveedores}">
	                  							<td th:text="${proveedor.getId()}"></td>
	                  							<td th:text="${proveedor.getNombre()}"></td>
	                  							<td th:text="${proveedor.getVersion()}"></td>
	                  							<td th:text="${proveedor.getDireccion()}"></td>
	                  							<td th:text="${proveedor.getDocumento()}"></td>
	                  							<td th:text="${proveedor.getTelefono()}"></td>
	                  							<td>
	                  								<a href="#" title="Editar Registro"><span class="label label-primary"><i class="fa fa-pencil fa-fw"></i></span></a>
	                  								<a href="#" title="Eliminar Registro"><span class="label label-danger"><i class="fa fa-trash-o fa-fw"></i></span></a>
	                  								<a href="#" title="Ver Registro"><span class="label label-success"><i class="fa fa-info fa-fw"></i></span></a>
	                  							</td>
	                						</tr>
										</tbody>
										<tfoot>
											<tr>
												<th>#Id</th>
												<th>Nombre</th>
												<th>Version</th>
												<th>Direccion</th>
												<th>Documento</th>
												<th>Telefono</th>
												<th>Operaciones</th>
											</tr>
										</tfoot>
						  			</table>
								</div>
							  </div>
					 	</div>
					 </div>
				</section>
			</div>
		</div> -->
		<div class="wrapper">
			
			<header th:replace="fragments/template :: header"></header>
			
			<aside th:replace="fragments/template :: aside"></aside>
			
			<div class="content-wrapper">
				
				<section th:replace="fragments/template :: content-header" ></section>
				
				<section class="content">
					
					<div class="row">
       					
       					<div class="col-xs-12">
       					
       						<div class="box">
       						
            					<div class="box-header">
              						<h3 class="box-title">Data Table With Full Features</h3>
              						<a href="/proveedores/create"><i class="fa fa-plus"></i> Nuevo Registro</a>
            					</div>
            					
            					<div class="box-body">
            						<table id="DataTable_Proveedores" class="table table-bordered table-striped">
            							<thead>
							                <tr>
							                  	<th>#Id</th>
												<th>Nombre</th>
												<th>Direccion</th>
												<th>Documento</th>
												<th>Telefono</th>
												<th>Operaciones</th>
							                </tr>
						                </thead>
						                <tbody>
							                <tr th:if="${proveedores.empty}">
									            <td colspan="2"> No existen Registros </td>
									        </tr>
											<tr th:each="proveedor: ${proveedores}">
	                  							<td th:text="${proveedor.getId()}"></td>
	                  							<td th:text="${proveedor.getNombre()}"></td>
	                  							<td th:text="${proveedor.getVersion()}"></td>
	                  							<td th:text="${proveedor.getDireccion()}"></td>
	                  							<td th:text="${proveedor.getDocumento()}"></td>
	                  							<td th:text="${proveedor.getTelefono()}"></td>
	                  							<td>
	                  								<a th:href="@{/proveedores/edit/{id}(id=${proveedor.id})}" title="Editar Registro"><span class="label label-primary"><i class="fa fa-pencil fa-fw"></i></span></a>
	                  								<a th:href="@{/proveedores/delete/{id}(id=${proveedor.id})}" title="Eliminar Registro"><span class="label label-danger"><i class="fa fa-trash-o fa-fw"></i></span></a>
	                  								<a href="#" title="Ver Registro"><span class="label label-success"><i class="fa fa-info fa-fw"></i></span></a>
	                  							</td>
	                						</tr>
							             </tbody>
							             <tfoot>
							                <tr>
							                  	<th>#Id</th>
												<th>Nombre</th>
												<th>Direccion</th>
												<th>Documento</th>
												<th>Telefono</th>
												<th>Operaciones</th>
							                </tr>
						                </tfoot>
            						</table>
            					 </div>
            					 
            				</div>
            				
            			</div>
            			
            		</div>
            		
				</section>
				
			</div>
			
			<footer th:replace="fragments/template :: footer"></footer>
			
			<div th:replace="fragments/template :: control-sidebar-bg"></div>
			
		</div>
		
		<!-- SCRIPTS -->
		<script th:src="@{/AdminLTE/bower_components/jquery/dist/jquery.min.js}" ></script>
		<script th:src="@{/AdminLTE/bower_components/jquery-ui/jquery-ui.min.js}"></script>
		<script>
		  $.widget.bridge('uibutton', $.ui.button);
		</script>
		<script th:src="@{/AdminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
		<script th:src="@{/AdminLTE/bower_components/datatables.net/js/jquery.dataTables.min.js}"></script>
		<script th:src="@{/AdminLTE/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
		<script th:src="@{/AdminLTE/bower_components/raphael/raphael.min.js}"></script>
		<!--<script th:src="@{/AdminLTE/bower_components/morris.js/morris.min.js}"></script> -->
		<script th:src="@{/AdminLTE/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js}"></script>
		<script th:src="@{/AdminLTE/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js}" ></script>
		<script th:src="@{/AdminLTE/plugins/jvectormap/jquery-jvectormap-world-mill-en.js}" ></script>
		<script th:src="@{/AdminLTE/bower_components/jquery-knob/dist/jquery.knob.min.js}"></script>
		<script th:src="@{/AdminLTE/bower_components/moment/min/moment.min.js}" ></script>
		<script th:src="@{/AdminLTE/bower_components/bootstrap-daterangepicker/daterangepicker.js}"></script>
		<script th:src="@{/AdminLTE/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}" ></script>
		<script th:src="@{/AdminLTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js}"></script>
		<script th:src="@{/AdminLTE/bower_components/jquery-slimscroll/jquery.slimscroll.min.js}" ></script>
		<script th:src="@{/AdminLTE/bower_components/fastclick/lib/fastclick.js}"></script>
		<script th:src="@{/AdminLTE/dist/js/adminlte.min.js}"></script>
		<!-- <script th:src="@{/AdminLTE/dist/js/pages/dashboard.js}"></script> -->
		<script th:src="@{/AdminLTE/dist/js/demo.js}"></script>
		<script>
			$(function () {
			  	//se inicializa el DataTable.
			  	 $('#DataTable_Proveedores').DataTable({
				      'paging'      : true,
				      'lengthChange': true,
				      'searching'   : true,
				      'ordering'    : true,
				      'info'        : true,
				      'autoWidth'   : false
				 })
			})
		</script>
		
	</body>
</html>
